---
const links: Link[] = [
  {
    title: "Home",
    href: "/home",
  },
  {
    title: "About",
    href: "/about",
  },
  {
    title: "Contact",
    href: "/contact",
  },
  {
    title: "Contact",
    sublinks: [
      {
        title: "sum inner link",
        href: "/test",
      },
    ],
  },
];

interface BaseLink {
  title: string;
}

interface LinkItem extends BaseLink {
  href: string;
}

interface LinkGroup extends BaseLink {
  sublinks: LinkItem[];
}

type Link = LinkItem | LinkGroup;
---

<aside class="side">
  <div class="container">
    <div class="container-title">
      <p>navigation</p>
    </div>
    <div class="content">
      <div class="links">
        {
          links.map((link) =>
            "sublinks" in link ? (
              <details>
                <summary>{link.title}</summary>
                <div class="sub-links">
                  {link.sublinks.map((sublink) => (
                    <a href={sublink.href} class="link">
                      {sublink.title}
                    </a>
                  ))}
                </div>
              </details>
            ) : (
              <a href={link.href} class="link">
                {link.title}
              </a>
            ),
          )
        }
      </div>
    </div>
  </div>
</aside>
